:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-text-brand-primary, #4949d4);
  text-decoration: none;
}

a:hover {
  color: var(--color-text-brand-secondary, #616ee5);
  text-decoration: underline;
}

button {
  padding: 0;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  outline: none;
}

button:focus-visible {
  outline: 2px solid var(--color-interaction-focus-outline, #23c7cd);
  outline-offset: 2px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
